h1{
    font-family:'Courier New', Courier, monospace;
}
button{
    display: flex table-row;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}
.profile_link{
    display: block;
}
form{
    margin-top: 10px;
}
.card{
    display: block;
    justify-content: center;
    width: 450px;
    height: 350px;
    padding: 15px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 15px;
}
